.nav-button-group {
    display: flex;
    gap: 20px;
}

.nav-button {
    background: transparent;
    border: none;
    color: var(--button-color);
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
    position: relative;
    padding: 5px;
}
  
.nav-button:hover {
    color: #000; /* Change color on hover */
    background-color: lightgray;
    border-radius: 20px;
  }
  
.nav-button.active {
    color: #5c2a2a; /* Active button text color */
    font-weight: bold;
}
  
.nav-button .underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 25%;
    height: 2px;
    background-color: var(--button-color); /* Active underline color */
    margin: 0 auto;
    transition: transform 0.3s ease; /* Add transition for sliding effect */
}