.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 70px;
    width: 150px;
    gap: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 60px;
    width: auto;
}

.logo-text {
    font-family: var(--font);
    color: var(--font-color);
    font-size: 24px;
    font-weight: bold;
}
